:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

#navbar {
	width: 100%;
	position: fixed;
	z-index: 5;
}

#navbar.nav_top {
	background: transparent;
	color: #fff;
	height: 13vh;
}
#navbar.nav_scrolled {
	background: #fff;
	color: #000;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	height: 10vh;
	transition: all 0.7s ease-in-out;
}

#navbar .content {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar .brand {
	display: flex;
	align-items: center;
}

#navbar .logo {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}

#navbar .links a {
	margin-right: 50px;
	font-size: 1.2rem;
	text-decoration: none;
}

#navbar.nav_top .links a {
	color: #fff;
}
#navbar.nav_scrolled .links a {
	color: #000;
}

#navbar .links a:hover {
	color: #008035;
}

#header {
	height: 100vh;
	color: white;
	position: relative;
	overflow: hidden;
}

#header .background {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#header .content {
	position: absolute;
	background: rgba(42, 50, 117, 0.3);
	width: 100%;
	height: 100%;
	padding: 0 10%;
}

#header .card {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 800px;
}

#header .title {
	margin-bottom: 40px;
	font-size: 2rem;
}

#header .description {
	font-size: 1rem;
	margin-bottom: 40px;
}

#header .action {
	background: #008035;
	color: white;
	padding: 10px 15px;
	border: 2px solid #008035;
	border-radius: 10px;
	font-size: 1.1rem;
}

#header .action:hover {
	cursor: pointer;
	background: transparent;
	transition: all 0.7s ease-in-out;
}

#services {
	padding: 10vh 0;
}

#services .content {
	width: 80%;
	margin: auto;
}

#services .title {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 20px;
}

#services .title span {
	color: #008035;
}

#services .subtitle {
	margin: 20px auto 60px;
	max-width: 800px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
}

#services .container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	margin: 20px 0;
}

#services .card {
	width: 200px;
	background: rgb(210, 255, 210);
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}

#services .card:hover {
	background: #008035;
	color: white;
	transition: all 0.7s ease-in-out;
}

#services .card_icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgb(125, 255, 125);
	margin: 0 auto 20px;
}

#services .card_icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#services .card_title {
	font-size: 1.2rem;
	min-height: 60px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#about {
	height: 100vh;
	padding: 10vh 10% 0;
	color: black;
	position: relative;
	overflow: hidden;
	display: flex;
}

#about .aboutleft {
	width: 50%;
}

#about .aboutleft .abouttopic {
	font-size: 1.1rem;
	color: #008035;
	padding: 4px 0px;
}

#about .aboutleft .aboutheader {
	font-size: 2rem;
	font-weight: bold;
	padding: 10px 0px;
}

#about .aboutleft .content {
	font-size: 1.1rem;
	font-weight: 200px;
	padding: 10px 0px 20px;
}

#about .aboutleft .stats_container {
	color: black;
	margin-bottom: 30px;
}

#about .aboutleft .stat {
	height: 80px;
	color: black;
	padding: 10px 0px 0px;
	font-size: 1.2rem;
}

#about .aboutleft .stat .statsvalue {
	display: flex;
	justify-content: space-between;
}

#about .aboutleft .stat .statspercent {
	background-color: gainsboro;
	height: 5px;
	margin-top: 10px;
	display: flex;
	border-radius: 10px;
	overflow: hidden;
}

#about .aboutleft .stat:nth-of-type(1) .stat_colored {
	background-color: #ff6162;
	width: 55%;
}

#about .aboutleft .stat:nth-of-type(2) .stat_colored {
	background-color: #5e72fc;
	width: 32%;
}

#about .aboutleft .action {
	background: #008035;
	color: white;
	border: 2px solid #008035;
	border-radius: 40px;
	font-size: 1.1rem;
	margin: 4px;
	display: flex;
}

#about .aboutleft .action p {
	padding: 15px;
}

#about .aboutleft .action p:nth-of-type(1) {
	padding-right: 20px;
	border-right: 1px solid #ffffff22;
}

#about .aboutleft .action:hover {
	cursor: pointer;
	background: transparent;
	color: #000;
	transition: all 0.7s ease-in-out;
}

#about .aboutleft .action:hover p:nth-of-type(1) {
	border-right: 1px solid #00000022;
}

#about .aboutimg {
	width: 40%;
	margin-left: auto;
}

#about .aboutimg .imagecard {
	width: 400px;
	height: 500px;
	position: relative;
}

#about .aboutimg .imagecard img {
	width: 95%;
	height: 95%;
	object-fit: cover;
	position: absolute;
}

#about .aboutimg .imagecard img:nth-of-type(1) {
	top: 5%;
	z-index: 2;
}
#about .aboutimg .imagecard img:nth-of-type(2) {
	left: 5%;
	z-index: 1;
}

#testimonials {
	background: linear-gradient(100deg, #7470fc, #896efd, #4f74fb);
	padding: 10vh 10%;
}

#testimonials .header {
	color: #fff;
	text-align: center;
}

#testimonials .title {
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 10px;
}

#testimonials .subtitle {
	text-transform: capitalize;
	font-size: 1.8rem;
	max-width: 400px;
	margin: 0 auto 40px;
}

#testimonials .react-multi-carousel-track {
	margin-bottom: 20px;
}

#testimonials .card {
	margin: 0 20px;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	min-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

#testimonials .card .quote_icon {
	font-size: 5rem;
	color: #008035;
	text-align: end;
	margin-right: 20px;
	height: 100px;
}

#testimonials .personal_info {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 20px;
}

#testimonials .personal_info .portrait {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

#testimonials .personal_info .portrait img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#testimonials .personal_info .company {
	font-weight: normal;
}

#testimonials .react-multi-carousel-list {
	padding: 0 0 2rem 0;
}

#testimonials .custom-dot-list-style button {
	border: none;
	background: #fff;
	margin-right: 20px;
}

#testimonials
	.react-multi-carousel-dot.react-multi-carousel-dot--active
	button {
	background: #008035 !important;
}

#pricing .getting_started {
	background: #f8f8f8;
	padding: 10vh 10%;
}

#pricing .getting_started .title {
	text-transform: uppercase;
	color: #008035;
	font-size: 1.05rem;
	font-weight: 500;
}

#pricing .getting_started .subtitle {
	text-transform: capitalize;
	font-size: 2rem;
	margin: 10px 0 40px;
	max-width: 200px;
}

#pricing .getting_started .card_container {
	display: flex;
	margin-bottom: 40px;
}

#pricing .getting_started .card {
	width: 300px;
}

#pricing .getting_started .card .card_title {
	max-width: 120px;
	font-size: 1.1rem;
	font-weight: 500;
}

#pricing .getting_started .card .line_container {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

#pricing .getting_started .card .line_container .number {
	background: #7470fc;
	color: #fff;
	padding: 10px;
	border-radius: 50%;
}

#pricing .getting_started .card .line_container .line {
	height: 3px;
	width: 100%;
	background: #7470fc;
}

#pricing .getting_started .card .card_text {
	max-width: 250px;
	font-size: 1.05rem;
}

@media only screen and (max-width: 1280px) {
	#navbar .links a {
		font-size: 1.4rem;
	}

	#header .card {
		width: 700px;
	}

	#header .title {
		font-size: 2.4rem;
	}

	#header .description {
		font-size: 1.15rem;
	}

	#header .action {
		font-size: 1.2rem;
	}

	#services .title {
		font-size: 2rem;
	}

	#services .subtitle {
		max-width: 700px;
		font-size: 1.3rem;
	}

	#services .card_title {
		font-size: 1.4rem;
	}

	#services .card p {
		font-size: 1.1rem;
	}

	#about .aboutleft .content {
		font-size: 1.4rem;
	}

	#about .aboutleft .action {
		font-size: 1.4rem;
	}
}
